[Unit]
Description=VoIP OrangePi Send UDP
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/waveSendUDP
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
